<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <img src="{{receipe.imagePath}}"></li>
  <li class="list-group-item"><h2>{{receipe.name}}</h2></li>
  <li appBetterHighlight class="list-group-item">{{receipe.desc}}</li>
</ul>

<br/>
<div class="dropdown" appDropdown>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Manage Receipe
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">To Shopping List</a>
    <a class="dropdown-item" href="#">Edit Receipie</a>
    <a class="dropdown-item" href="#">Delete Receipe</a>
  </div>
</div>